:root {
  --purple: #682ae9;
  --light: #dbdbdb;
  --header-link: #dbdbdb;
  --header-link-hover: #682ae9;
  --header-link-hover-icon: #dbdbdb;
  --header-link-active: rgba(85, 85, 85, 1);
  --std-color: #dbdbdb;
  --bg: #0e1212;
  --bg-rgb: 14, 18, 18;
  --bgLight: radial-gradient(var(--bg), transparent, var(--purple) 130%);
  --gray: #808080;
  --comment: #555;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 8rem;
  padding: 0 1rem 5rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  max-width: 80rem;
  margin: 0 auto;
}

.header-breadcrumb {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--purple);
}

.header-nav-button {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  margin-right: -1rem;
  background: none;
  border: 0;
}
@media screen and (max-width: 768px) {
  .header-nav-button {
    display: flex;
    transition: all 1s linear;
  }
}
.header-nav-button .label {
  display: none;
}
.header-nav-button .dots {
  flex: 0 0 auto;
  position: relative;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  background: var(--header-link);
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
}

.header-nav-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  color: var(--purple);
  font-size: 2rem;
}
.header-nav-close-button:hover {
  color: var(--light);
}
@media screen and (max-width: 768px) {
  .header-nav-close-button {
    display: flex;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header-nav {
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    padding: 8rem 1rem 4rem;
    text-align: right;
    transform: translate3d(110%, 0, 0);
  }
}
.header-nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .header-nav ul {
    display: block;
  }
}
.header-nav li {
  flex: 0 0 auto;
  margin-left: 1rem;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .header-nav li {
    margin: 0 0 2rem;
    list-style: none;
  }
  .header-nav li.social-link {
    display: inline-block;
    margin: 0 0 0 2rem;
  }
}
.header-nav a {
  height: 2rem;
  display: flex;
  align-items: center;
  color: #dbdbdb;
  transition: color 400ms ease-out;
  line-height: 1;
}
.header-nav a:hover {
  color: var(--header-link-hover);
}
.header-nav a:hover svg {
  fill: var(--header-link-hover-icon);
}
.header-nav a.router-link-exact-active {
  opacity: 0.5;
  cursor: default;
}
@media screen and (max-width: 768px) {
  .header-nav a {
    height: auto;
    justify-content: flex-end;
    font-size: 3rem;
    font-weight: 700;
  }
  .header-nav a:hover {
    color: var(--header-link-hover);
  }
  .header-nav a:hover svg {
    fill: var(--header-link-hover-icon);
  }
  .header-nav a.router-link-exact-active {
    opacity: 0.5;
    cursor: default;
  }
}
@media screen and (max-width: 568px) {
  .header-nav a {
    font-size: 2rem;
  }
}
.header-nav a svg {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--purple);
  position: relative;
  top: 2px;
  transition: fill 400ms ease-out;
}
@media screen and (max-width: 768px) {
  .header-nav a svg {
    width: 3rem;
    height: 3rem;
    top: 0;
  }
}
@media screen and (max-width: 568px) {
  .header-nav a svg {
    width: 2rem;
    height: 2rem;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  body.is-nav-open .wrapper {
    opacity: 0.1 !important;
  }
  body.is-nav-open .header-nav-button {
    opacity: 0;
  }
  body.is-nav-open .header-nav {
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    transform: translate3d(0, 0, 0);
  }
}
.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to bottom, var(--bg) 3rem, rgba(var(--bg-rgb), 0) 100%);
}

body.blue-background .header-bg {
  background: linear-gradient(to bottom, #0497d1 3rem, rgba(4, 151, 209, 0) 100%);
}
body.blue-background .header-nav-button .dots {
  background: #000;
}
body.blue-background .header-nav a {
  color: #000;
}
body.blue-background .header-nav a svg,
body.blue-background .header-breadcrumb,
body.blue-background .header-nav-close-button {
  color: #411a91;
  fill: #411a91;
}/*# sourceMappingURL=NavBar.css.map */