$breakpoint-mobile: 420px;

:root{
  --purple: #682ae9;
  --light: #dbdbdb;
  --header-link: #dbdbdb;
  --header-link-hover: #682ae9;
  --header-link-hover-icon: #dbdbdb;
  --header-link-active: #555;
  --std-color: #dbdbdb;
  --bg: #0e1212;
  --bg-rgb: 14,18,18;
  --bgLight: radial-gradient(var(--bg),transparent,var(--purple) 130%);
  --gray: grey;
  --comment: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  font-family: inherit;
}


body{
  min-height: 100vh;
  display: block;
  font-family: 'Roboto Mono', monospace;

  .body-bg{    
    position: fixed;
    top: -25vh;
    left: -25vw;
    width: 150vw;
    height: 150vh;
    z-index: -1;
    
    .-default{
      background: var(--bg);
      opacity: 1;
    }
    
    div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  #header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 8em;
    padding: 0 1em 5em;
    
    .header-bg{
      // background-attachment: fixed;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      
      .-default{
        background: linear-gradient(180deg,var(--bg) 3em, rgba(var(--bg-rgb),0));
        opacity: 1;
      }
      
      div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
      }
      
    }

    .header-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3em;
      max-width: 80em;
      margin: 0 auto;
      
      .logo{
        word-spacing: 1mm;
        font-size: 1.2em;
        font-weight: 700;
        color: var(--purple);
      }
      
      .header-nav-button {
        flex: 0 0 auto;
        width: 3rem;
        height: 3rem;
        display: none;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem;
        margin-right: -1rem;
        background: none;
        border: 0;
        
        .dots {
          flex: 0 0 auto;
          position: relative;
          width: 0.25rem;
          height: 0.25rem;
          border-radius: 0.25rem;
          background: var(--header-link);
          transition: all .4s cubic-bezier(.19,1,.22,1);
        }
      }


      .header-nav{
        display: flex;
        align-items: center;
        
        ul{
          display: flex;
          align-items: center;
          list-style: none;
          
          li{
            list-style: none;
            flex: 0 0 auto;
            margin-left: 1em;
            
            .active{
              opacity: .5;
              cursor: default;
            }
            
            a{
              height: 2em;
              display: flex;
              align-items: center;
              color: var(--header-link);
              transition: color .4s ease-out;
              line-height: 1;
              
              svg{
                display: block;
                width: 1.2em;
                height: 1.2em;
                fill: var(--purple);
                position: relative;
                top: 2px;
                transition: fill .4s ease-out;
              }
              
              svg:hover{
                fill: var(--header-link-hover-icon);
              }
            }
            
            a:hover{
              color: var(--header-link-hover);
            }
            
            .active:hover{
              color: var(--header-link-hover);
            }
          }
        }
      }
    }
  }
  
  .wrapper{
    position: relative;
    z-index: 1;
    padding-bottom: 20vh;
    min-height: 100vh;
    transition: opacity .5s linear;
    
    section{
      min-height: 100vh;
      display: block;
      
      .title-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        perspective: 900px;
        perspective-origin: 50% 50vh;
        padding: 0 1em 0 25vw;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        margin-right: 0;
        padding-right: 0;
        
        .title{
          margin-right: 0;
          padding-right: 0;
          display: block;
          opacity: 0;
          color: var(--light);
          font-size: 4em;
          font-weight: 700;
          word-spacing: -.1em;
          letter-spacing: -.05em;
          word-break: break-word;
          -webkit-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          
          .param{
            font-weight: 400;
            letter-spacing: -2px;
            color: var(--purple);
          }
        }
      }   
    
      .footer-bg{
        position: absolute;
        top: 90vh;
        left: 90vh;
        width: 100%;
        height: 100%;
        z-index: -1;

        .-iDefault{
          background: linear-gradient(0deg,var(--bg) 3em, rgba(var(--bg-rgb),0));
          opacity: 1;
        }
      }

      .static-container{
        padding: calc(50vh - 3.5em) 0 0;
        margin: 0 25vw;
        min-height: 100vh;
        perspective: 900px;
        perspective-origin: 50% 50vh;
          
          .func{
            color: var(--purple);
          }
        
        .std p{
            margin-bottom: 1em;
            width: 35vw;
          
        }
      }
      
      
    }
  }
}
   
.rings{

  width: 440px;
  height: 440px;

  span{
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .balls{
    content: '';
    position:absolute;
    top: 50%;
    Left: -5px;
    width: 10px;
    height: 10px;
    background: rgba(104, 42, 233, 1);
    border-radius: 50%;
    // opacity: 0;
  }

  .oppo-balls{
    content: '';
    position:absolute;
    top: 50%;
    Left: calc(100% - 5px);
    width: 10px;
    height: 10px;
    background: rgba(104, 42, 233, 1);
    border-radius: 50%;
    // opacity: 0;
  }

  span:nth-child(1){
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0.4px solid rgba(104, 42, 233, 0.6);
    transform: rotate(220deg);
  }
  
  span:nth-child(2){
    top: 35px;
    bottom: 35px;
    left: 35px;
    right: 35px;
    border: 0.4px solid rgba(104, 42, 233, 0.4);
    transform: rotate(260deg);
  }
  
  span:nth-child(3){
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    border: 0.4px solid rgba(104, 42, 233, 0.7);
    transform: rotate(190deg);
  }
  
  span:nth-child(4){
    top: 90px;
    bottom: 90px;
    left: 90px;
    right: 90px;
    border: 0.4px solid rgba(104, 42, 233, 0.6);
    transform: rotate(285deg);
  }
  
  span:nth-child(5){
    top: 120px;
    bottom: 120px;
    left: 120px;
    right: 120px;
    border: 0.4px solid rgba(104, 42, 233, 0.3);
    transform: rotate(250deg);
  }

  span:nth-child(6){
    top: 140px;
    bottom: 140px;
    left: 140px;
    right: 140px;
    border: 0.4px solid rgba(104, 42, 233, 0.4);
    transform: rotate(238deg);
  }

  span:nth-child(7){
    top: 200px;
    bottom: 200px;
    left: 200px;
    right: 200px;
    background: rgba(104, 42, 233, 0.6);
    // box-shadow: 0 0 20px rgba(104, 42, 233, 0.6),
    //             0 0 40px rgba(104, 42, 233, 0.6),
    //             0 0 60px rgba(104, 42, 233, 0.6),
    //             0 0 80px rgba(104, 42, 233, 0.6),
    //             0 0 0 4px rgba(104, 42, 233, 0.2);
  }
}

.title{
  display: block;
  color: var(--light);
  font-size: 4em;
  font-weight: 700;
  word-spacing: -.1em;
  letter-spacing: -.05em;
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  perspective: 900px;
  perspective-origin: 50% 50vh;
}

.top-left{
  position: absolute;
  top: 3%;
  left: 3%;
  transform: translate(-50%,-50%);
}
.bottom-right{
  position: absolute;
  top: 28.1%;
  left: 96%;
  transform: translate(-50%, -50%);
}
.omverflow{
  width: 259px;
  height: 834px;
  position: absolute;
  top: 33.1%;
  left: 100%;
  transform: translate(-100%, -50%);
  overflow: hidden;
}
.mid-right{
  position: absolute;
  top: 10%;
  left: 75%;
  transform: translate(-50%,-50%);
}

.-purple{
  color: var(--purple);
}

.-gray{
  color: var(--gray);
}

div{
  display: block;
}

a{
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scene{
  min-height: 100vh;
}

.std{
  max-width: 19em;
  font-size: 1.015em;
  line-height: 1.5;
  color: var(--std-color);
  word-break: break-word;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.spine{
  position: fixed;
  z-index: 2;
  top: 50vh;
  bottom: 0;
  left: calc(25vw - 2em);
  width: 1px;
  background: var(--purple) linear-gradient(0deg,var(--bg) 1em,rgba(var(--bg-rgb),0) 20vh);
}

.spine-target{
  top: calc(50vh - 8px);
  left: calc(25vw - 2em - 4px);
  width: 9px;
  height: 9px;
  position: fixed;
  z-index: 2;
  
  .circle{
    position: absolute;
    width: 9px;
    height: 9px;
    transform-origin: center;
    border-radius: 3em;
    background: transparent;
    border: 1px solid var(--purple);
    opacity: 0;
  }
  
  .pulse{
    position: absolute;
    width: 9px;
    height: 9px;
    transform-origin: center;
    border-radius: 3em;
    background: transparent;
    border: 1px solid var(--purple);
    opacity: 0;
  }
}

.wrapper::after{
  content: "";
  display: block;
  position: absolute;
  top: 50vh;
  bottom: 50vh;
  left: calc(25vw - 2em);
  z-index: 99;
  width: 1px;
  opacity: .3;
  background: var(--purple) linear-gradient(180deg,var(--bg),rgba(var(--bg-rgb),0) 20vh);
}

.gap{
  height: 25vh;
  z-index: -2;
}


 
@media only screen and (max-width:$breakpoint-mobile) {

  body{

    #header{
      .header-container{
        .header-nav-button {
          display: flex;
          transition: all 1s linear;
        }
        .header-nav{
          display: none;
        }
      }
    } 

    .wrapper {
      padding-bottom: 10vh;

      section{

        .static-container {
          margin: 0 2rem 0 calc(2rem + 1px);
          
          .std{
            p{
              width: 85vw;
              font-size: 1em;
            }
            #after-player{
              font-size: 0.85em; 
            }
          }
        }
      }
      .rings{
        width: 450px;
        height: 450px;
      }
    }
    
    .top-left{
      top: 2%;
      left: 5%;
    }

    .bottom-right{
      display: none;
    }

    .omverflow{
      display: none;
    }

    .spine{
      left: 1rem;
    }

    .spine-target{
      left: calc(1rem - 4px);
    }
    
    .wrapper:after {
      left: 1rem;
    }

    
    #home .title {
      white-space: nowrap;
      margin-right: 0vw;
    }
    
    
    .title {
      margin-bottom: 1rem;
      line-height: 1.1;
      font-size: 2.35em;
    }
    
    #home .std {
      font-size: 0.9rem;
    }
    
    .wrapper section .title-container {
      padding: 0 1rem 0 2rem;
      .std .subtitle, .title {
        margin-right: -2rem;
        font-size: 1.9rem;
      }
    }
  }
  
  .title-container .title {
    margin-bottom: 1rem;
  }
}